@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body {
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
    background-color: lavender;
    background-size: cover;
    font-family: sans-serif;
    }
header {
    background-color: rgb(60, 5, 136);
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    }
header * {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: rgb(169, 154, 245);
    text-decoration:solid;
}

.btn:hover {
    background-color: rgb(85, 57, 199);
  }

h1{
    text-emphasis-color: ;
}